name: Docker Backend Deploy

on:
  push:
    paths:
      - 'Server/**'
      - 'nginx/**'
      - 'docker-compose.yml'
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./Server
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smartshift-backend:latest

  deploy-to-server:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.NEW_SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/smartshift-docker

            echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

            if [ -d ".git" ]; then
              git pull origin main
            else
              git clone https://github.com/moustafak8/SmartShift.git .
            fi

            docker compose pull app

            docker compose up -d --remove-orphans

            docker exec smartshift-api php artisan migrate --force
            docker exec smartshift-api php artisan config:cache
            docker exec smartshift-api php artisan route:cache

            echo " Backend Deployment via Docker Compose Finished!"